/* Encart 10 */

@font-face
{
	font-family: Raleway;
	src:url('Fonts/police/Raleway-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face
{
	font-family: Raleway;
	src:url('Fonts/police/Raleway-Bold.ttf');
	 	font-weight: bold;
		font-style: normal;
}
body
{
	font-family: Raleway;
	background-color: #F2F2F2;
}

aside
{
	font-weight: bold;
}

#main
{
	display: flex;
	flex-direction: column;
	width: 302px;
	height: 445px;
	border-radius: 20px;
	background-color: white;
	box-shadow: -5px 5px 15px #d9d9d9; 	
}


img 
{
height: 445px;
width: 302px;
border-radius: 20px 20px 0px 0px;
background-color: white;
object-fit: cover;
object-position: -185px 0px;
}

.text 
{
padding-left: 21px;
width: 281px;
border-radius: 0px 0px 20px 20px;
background-color: white;
font-size: 0.97em;
line-height: 14px;
}