html 
{ 
	
	margin:0;
	padding:0;
	width:100%;
	height:100%;
}

@font-face
{
	font-family: Raleway;
	src:url('Fonts/police/Raleway-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: Raleway;
	src:url('Fonts/police/Raleway-Bold.ttf');
	font-weight: bold;
	font-style: normal;
}

body
{
	
	font-family: Raleway;
	background-color: white;
	margin:0;
	padding:0;
}
/* ---- header ---- */

/*Logo*/
.logo
{
	height: 45px;
	width: auto;
	padding-top: 32px;
	padding-bottom: 20px;
	padding-left: 60px;
}

/*Tous les liens cliquables dans sections (2) + aside + footer*/
.a
{
	display: contents; /*Pourquoi ça fonctionne sans padding ?*/
}

.a:visited
{
	color: black;
}

/*Logo + Right navigation*/
.logo-nav-anchors
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

/* @media  (min-width: 320px) and (max-width: 768px) 
{
	.logo-nav-anchors
	{
		display: inline-block;
	}
} */

nav
{
	display: flex;
	flex-direction: row;
	margin-top: -25px;
}

ul
{
	display: inline-flex;
}

li
{
	list-style: none;
	margin-right: 65px;
	
}

.nav-2-links
{
	display: flex;
	flex-direction: row;
}

.s-inscrire a
{
	display: flex;
	flex-direction: row;
}

.logo-nav-anchors a:hover
{
	border-top: 12px solid #0065FC;
	width: 100%;
	padding-top: 34px;
	overflow: hidden;
}

a
{
	display: flex;
	justify-content: flex-end;
	padding-top: 46px;
	text-decoration: none;
}

.logo-nav-anchors a:link
{
	color: #0065FC;
}

.logo-nav-anchors a:visited
{
	color: #0065FC;
}

 @media  (min-width: 320px) and (max-width: 768px)
{
	
	.nav-img
	{
		width: 50%;
	}
	
	ul
	{
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		width: 100%;
	}

	li
	{
		margin-right: 0px;
	}
	
	.logo-nav-anchors
	{
		justify-content: space-around;
	}
	
	.nav-2-links 
	{
		order: 2;
		margin-left:-21%;
		margin-right: 50%;
		padding-right: 52%;
		justify-content: space-around;
	}
	

	.nav-2-links li
	{
		margin-left: 15%;
	}

	.s-inscrire
	{
		order: 1;
		margin-top: 3px;
		width: 36%;
	}
	

	.logo-nav-anchors a:hover
	{
		display: none; /* Le problème est par là !!!! */
		border-top: none;
		width: none;
		padding-top: none;
		overflow: none;
	}

	nav a
	{
		display: flex;
		padding-top: 55px;
		text-decoration: none;
	}
} 





























/* .mdq0
{
	display: none;
} */

/* @media  (min-width: 320px) and (max-width: 768px) Logo + S'inscrire à côtés */

	/* .mdq0
	{
		display: flex;
		flex-direction: column;
		width: 100%;
		margin: 0;
		padding: 0;
	} */

	/* .mdq0bis
	{
		display: flex;
		align-items: center;
		justify-content: space-around;
		width: 100%;
		margin-top: 0px;
	} */

	/* .mdq1
	{
		padding: 23px;
		padding-bottom: 40px;
	} */

	/* .mdq1bis
	{
		display: none;
	} */

	/* .mdq00bis
	{
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
	} */


/* .nav-mdq2
{
	display: none;
} */



/* @media  (min-width: 320px) and (max-width: 768px)
{
	.nav-mdq2
	{
		display: flex;
		margin-bottom: -27px;
		margin-right: 23px;
		width: 100%;
	}

	 .mdq2, .mdq3, .mdq4 
	{
		display: none;
	}
} */



/* @media  (min-width: 320px) and (max-width: 768px) li .mdq00bis
{
	
	nav
	{
		width: 100%;
	}

	ul
	{
		width: 100%;
		margin-left: -40px;
	}

	li
	{
		margin-right: 0;
		width: 100%;
	}
} */



/* @media  (min-width: 320px) and (max-width: 768px) 
{
	nav a
	{
		padding-top: 0px;
		margin-bottom: 15px; mdq00bis a:hover margin-bottom et padding bottom = Nécessaire
	}
} */



/* @media  (min-width: 320px) and (max-width: 768px)
{ */
	/* .nav-mdq2 a:hover
	{
		border-top: inherit;
		padding-top: inherit;
	} */

	/* .mdq00bis
	{
		height: 57.2px;
	} */

	/* .mdq00bis li
	{
		border-bottom: 4px solid #F2F2F2; 
		padding-right: 24px;
	} */

	/* .mdq00bis a:hover
	{
		width: 118%;
		border-top: inherit;
		border-bottom: 4px solid #0065FC;
		padding-top: 0px;
		transition: none;
		margin-bottom: -4px;
		padding-bottom: 15px; 
		margin-left: 0px;
	} */

	/* .logo-nav-anchors a:hover
	{
		padding-top: inherit;
	} */
/* } */

/*Text search bar*/
.text-search-bar-filters
{
	display: flex;
	flex-direction: column;
	padding-left: 60px;
	width: 100%;
}

@media  (min-width: 320px) and (max-width: 768px)
{
	.text-search-bar-filters
	{
		width: 100%;
		padding-left: inherit;
		display: inline-block;
	}
}

.text-search-bar-filters .text-search-bar
{
	display: none;
}

.text-search-bar-initial
{
	font-size: 1.4em;
}

.text-search-bar-initial span
{
	font-size: 0.7em;
}

@media  (min-width: 320px) and (max-width: 768px) 
{	
	.text-search-bar-filters .text-search-bar
	{
		display: inline-flex;
		justify-content: center;
		width: 100%;
		font-size: 1.35em;
	}

	.text-search-bar-filters .text-search-bar br
	{
		display: inherit;
	}

	.text-search-bar-filters .text-search-bar span
	{
		font-size: 0.65em;
	}

	.text-search-bar-initial
	{
		display: none;
	}
}

/* Search bar */

.search-bar
{
	/* display: inline-block; */
	display: flex;
	height: auto;
	/* width: 425px; */
	margin-top: -10px;
}

@media  (min-width: 320px) and (max-width: 768px)
{
	.search-bar
	{
		width: 100%;
	}
}

form
{
	display: flex;
}

@media  (min-width: 320px) and (max-width: 768px)
{
	form
	{
		margin: 0%;
		width: 100%;
		justify-content: center;
		padding-left: 3.5%;
	}
}

label
{
	display: inline-block;
	background-color: #F2F2F2;
	border-radius: 20px 0px 0px 20px;
	width: 52px;
	height: 51px;
	color: black;
	margin-top: 0px; /* pourquoi tout bouge ? --> inline-block ? */
	padding-bottom: 1px;
}

.fa-map-marker-alt:before /* comment ça marche ? */
{
    content: "\f05a"; /* Unique à chaque Fontawesome */
    line-height: 3.1;
    padding-left:21px;   
}

input[type=search]
{
	width: 234px;
	height: 51px;
	border: #F2F2F2 1px solid;
	font-weight: bold;
	box-sizing: border-box; /* Comprendre comment ça fonctionne */
    padding-left: 10px;
    padding-right: 18px;
	font-size: large;
    outline: none;
}

::placeholder
{
	color: rgb(0, 0, 0);
}

@media  (min-width: 320px) and (max-width: 768px)	
{
	input[type=search]
	{
		width: 75.5%;
		outline: none;
	}
}

input[type=submit]
{
	width: 134px;
	height: 51px;
	border: #F2F2F2 1px solid;
	border-radius: 0px 20px 20px 0px;
	color: white;
	background-color: #0065FC;
	font-weight: bold;
	outline: none;
	font-size: large;
}

button
{
	display: none;
}

.fa-search
{
	display: none
}

@media  (min-width: 320px) and (max-width: 768px) /* De input à button*/
{
	input[type=submit]
	{
		display: none;
	}

	button
	{
		display: initial;
		width: 52px;
		height: 52px;
		line-height: 4; 
		border: #F2F2F2 1px solid;
		border-radius: 20px 20px 20px 20px;
		color: white;
		background-color: #0065FC;
		margin-left: -31px; /*J'ai triché, suppr et essayer sans ça*/
		outline: none;
	}

	.button .fas:hover /*Carré blanc sur <i> supprimé*/
	{
		background-color: inherit; /*Quoi ???????????? Pas compris pourquoi*/
	}
}

/*Common for : .text-search-bar-filters + .info-filters*/
span
{
	font-size: small;
}

/*Filters*/
.filters
{
	display: flex; /* inline-flex */
	flex-wrap: wrap; /* Y avait pas ça */
	/*width: 1000px;*/
	align-items: center; /* Y avait pas ça */
	justify-content: flex-start; /* space-between */
}

@media  (min-width: 320px) and (max-width: 768px)
{
	.filters
	{
		display: inline-block;
		flex-wrap: nowrap;
		width: 100%;
		justify-content: space-between;
		align-items: inherit;
	}
}

.filters p
{
	font-weight: bold;
	font-size: large;
}

.text-filters
{
	display: flex;
	margin-right: 1%; /* Y avait pas ça */
	
}

@media  (min-width: 320px) and (max-width: 768px)
{
	.text-filters
	{
		display: inherit;
		width: 100%;
		margin-left: 3%;
	}
}

.font-filters
{
	display: inline-flex;
	align-items: center;
	border: 2.5px solid #D5D8DC;
    height: 48px;
	padding-right: 15px;
	margin-right: 5.3%; /* Y avait pas ça */
	border-radius: 1000px; 
	font-size: large;  
}

@media  (min-width: 320px) and (max-width: 768px)
{
	.font-filters
	{
		padding-right: inherit;
		margin-left: 2.4%;
		margin-bottom: 20px;
		margin-right: inherit;
	}
}

@media  (min-width: 769px) and (max-width: 1097px)
{
	.dog
	{
		margin-left: 62px;
		margin-top: 20px;
	}
}

.font-filters:hover /*cf .font-filters:hover .fas, .fas:hover*/
{
	border-color: #0065FC;
}

.font-filters:hover .fas, .fas:hover /*Comment les deux éléments fonctionnent ? Et pourquoi le label est pris en compte ?*/
{
	background-color:  #F2F2F2;
}

/* label .fas, .fas:hover
{
	background-color: inherit;
} */ /* Comment enlever hover sur label */

.filters i+p /* Uniquement pour les filtres */
{
	padding-left: 13px;
	padding-right: 5px;
	
}

@media  (min-width: 320px) and (max-width: 374px)
{
	.filters i+p
	{
		padding-left: 0%;
		padding-right: 5px;
		margin-left: 3px;
	}
}

@media  (min-width: 375px) and (max-width: 424px)
{
	.filters i+p
	{
		padding-left: 0%;
		padding-right: 20px;
		margin-left: 11px;
	}
}

@media  (min-width: 425px) and (max-width: 767px)
{
	.filters i+p
	{
		padding-left: 0%;
		padding-right: 33px;
		margin-left: 19px;
	}
}

.filters i
{
	margin-left: -4px;
}

/* Filter "Économique" */
.fa-money-bill-wave 
{
	border-radius: 110px;
	color: blue;
    background: #deebff;
    width: 53px;
    height: 53px;
    margin-left: -2px;
}

.fa-money-bill-wave:before /* comment ça marche ? */
{
    content: "\f53a"; /* Unique à chaque Fontawesome */
    line-height: 2.9;
    padding-left: 14px;
}

/* Filter "Familial" */
.fa-child 
{
	border-radius: 110px;
	color: blue;
    background: #deebff;
    width: 53px;
    height: 53px;
    margin-left: -2px; 
}

.fa-child:before 
{
    content: "\f53a"; 
    line-height: 2.8;
    padding-left: 18px;
}

@media  (min-width: 320px) and (max-width: 768px)
{
	.fa-child:before
	{
		line-height: 2.9;
	}
}

/* @media  (min-width: 320px) and (max-width: 768px)
{
	.mdq7
	{
		position: relative;
		top: -83px;
		right: -220px;
		
	}
} */

/* Filter "Romantique" */
.fa-heart 
{
	border-radius: 110px;
	color: blue;
    background: #deebff;
    width: 53px;
    height: 53px;
    margin-left: -2px;
}

.fa-heart:before 
{
    content: "\f53a"; 
    line-height: 3;
    padding-left: 17px;
}

@media  (min-width: 320px) and (max-width: 768px)
{
	.fa-heart:before
	{
    	padding-left: 16px;
	}
}

/* @media  (min-width: 320px) and (max-width: 768px)
{
	.mdq8
	{
		position: relative;
		right: 159px;
		
	}
} */

/* Filter "Animaux autorisés" */
.fa-dog 
{
	border-radius: 110px;
	color: blue;
    background: #deebff;
    width: 53px;
    height: 53px;
    margin-left: -2px; 
}

@media  (min-width: 320px) and (max-width: 374px)
{
	.dog
	{
		width: 221px;
	}
}

@media  (min-width: 375px) and (max-width: 424px)
{
	.dog
	{
		width: 239px;
	}
}

.fa-dog:before 
{
    content: "\f53a"; 
    line-height: 2.8;
    padding-left: 16px;
}

.info-filters
{
	display: inline-flex;
	align-items: center;
	margin-top: 15px;
}

.info-filters p
{
	padding-left: 10px;
}

.info-filters span
{
	font-size: medium;
}

.info-filters-initial
{
	display: none;
}

@media  (min-width: 320px) and (max-width: 768px)
{
	.info-filters
	{
		display: none;
	}

	.info-filters-initial
	{
		display: inline-flex;
		align-items: center;
		width: 100%;
		margin-bottom: 50px;
	}

	.info-filters-initial span
	{
		font-size: small;
	}
}

.fa-info
{
	display: flex;
	justify-content: center;
	color: blue;
	padding-right: 10px;
    padding-left: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
	border: 2px solid #F2F2F2;
	border-radius: 1000px;

	
    /*color: white;
    background-color: blue;*/
}

.fa-info:hover
{
	background-color: inherit;
}

@media  (min-width: 320px) and (max-width: 768px)
{
	.fa-info
	{
		margin-top: -10px;
		margin-left: 2.5%;
		margin-right: 3%;
	}
}

/* ---- Fin header ---- */

/* ---- 2 sections ---- */

#main-hebergements-populaires
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
	height: auto;
	margin-top: 20px;
	padding-left: 40px;	
}

@media  (min-width: 320px) and (max-width: 768px) /*Inversion des 2 sections*/
{
	#main-hebergements-populaires
	{
		display: flex;
		flex-direction: column;
		justify-content: inherit;
		height: auto;
		margin-top: inherit;
		padding-left: inherit;
	}

	#main-hebergements-populaires > .main-populaires
	{
		order: 1;
	}

	#main-hebergements-populaires > .accommodations
	{
		order: 2;
	}
}

@media  (min-width: 320px) and (max-width: 768px)
{
	section .accommodations
	{
		background-color: white;
	}
}

.accommodations
{
	background-color: #F2F2F2;
	border-radius: 20px;
	margin-right: 40px;
	width: 60%;
}

@media  (min-width: 320px) and (max-width: 768px)
{
	.accommodations
	{
		width: 100%;
	}
}

@media  (min-width: 768px) and (max-width: 1118px)
{
	.accommodations
	{
		width: 42%;
	}
}

.popularity
{
	background-color: #F2F2F2;
	border-radius: 20px;
	width: 30%;
	margin-right: 60px;
}

@media  (min-width: 320px) and (max-width: 768px)
{
	#main-hebergements-populaires section
	{
		border-radius: 0px;
		background-color: white;
	}

	.popularity
	{
		width: 100%;
		margin-right: inherit;
		display: flex;
		justify-content: center;
	}
}

@media  (min-width: 768px) and (max-width: 1118px) /* 932 initial */
{
	.popularity
	{
		width: 45%;
	}
}

/* @media  (min-width: 932px) and (max-width: 1118px)
{
	.popularity
	{
		width: 36%;
	}
} */



.section-accommodation-title
{
	padding-top: 25px;
	padding-left: 45px;
	font-size: 1em;
}

@media  (min-width: 320px) and (max-width: 768px)
{
	.section-accommodation-title
	{
		display: flex;
    	justify-content: center;
		padding-left: inherit;
		padding-top: 15px;
		padding-bottom: 15px;
		background-color: white;
	}
}

@media  (min-width: 769px) and (max-width: 1117px)
{
	.section-accommodation-title
	{
		padding-top: 25px;
    	padding-left: 0px;
    	display: flex;
    	justify-content: center;
    	font-size: 1em;
	}
}

.show
{
	padding-left: 45px;
	padding-top: 22px;
}

@media  (min-width: 320px) and (max-width: 768px)
{
	.show
	{
		background-color: white;
		padding-top: 8px;
		padding-left: 18px;
	}
}

@media  (min-width: 769px) and (max-width: 1118px)
{
	.show
	{
		padding-left: inherit;
		display: flex;
		justify-content: center;
	}
}

/* ---- Section 1 "Hébergement à Marseille" ---- */
#hebergements
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	background-color: #F2F2F2;
	margin-top: -25px;
}

@media  (min-width: 320px) and (max-width: 768px)
{
	#hebergements
	{
		display: flex;
		justify-content: space-around;
		align-items: center;
		background-color: white;
	}
}

.hotel-cards-marseille
{
	display: flex;
	flex-direction: column;
	width: 246px;
	height: 207px;
	border-radius: 20px;
	background-color: white;
	box-shadow: -5px 5px 15px #d9d9d9;
	margin: 15px;
}

.hotel-cards-marseille img
{
	height: 114px;
	border-radius: 20px 20px 0px 0px;
	background-color: white;
	object-fit: none;
	object-position: 0px -25px;
	padding: 5px 5px 0px 5px;
}

@media  (min-width: 320px) and (max-width: 768px)
{
	.hotel-cards-marseille
	{
		margin: inherit;
		margin-top: 10px;
		width: 94%;
	}
}

/* @media  (min-width: 769px) and (max-width: 1117px)
{
	.hotel-cards-marseille
	{
		margin: inherit;
		margin-top: 10px;
		width: 65%;
	}
}

@media  (min-width: 769px) and (max-width: 1117px)
{
	.hotel-cards-marseille img
	{
		width: 95%;
		height: 58%;
		object-fit: cover;
		margin-left: 1%;

		width: 94%;
		height: 58%;
		object-fit: cover;
		object-position: center;
		
	}
} */

.accommodation-text
{
	padding-left: 17px;
	border-radius: 0px 0px 20px 20px;
	background-color: white;
	font-size: 0.97em;
	line-height: 8px;
	padding-top: 1px;
}

@media  (min-width: 320px) and (max-width: 768px)
{
	.price
	{
		font-size: 0.88em;
	}
}

.accommodation-stars
{
	color: #0065FC;
	margin-top: -4px;
	padding-left: 17px;
	line-height: 11px;
	font-size: 12px;	
}

/*Auberge la Cannebière*/
.cannebiere .fas:last-child
{
	color: #d9d9d9;
}

/*Hôtel du port*/
.accommodation-stars .port .fas:nth-last-child(-n+0)
{
	color: #F2F2F2;
}

/*Hôtel les mouettes*/
.mouettes .fas:nth-last-child(-n+1)
{
	color: #d9d9d9;
}

/*Hôtel de la mer*/
.mer .fas:nth-last-child(-n+2)
{
	color: #d9d9d9;
}

/*Auberge Le Panier*/
.panier .fas:nth-last-child(-n+1)
{
	color: #d9d9d9;
}

/*Hôtel chez Amina*/
.amina .fas:nth-last-child(-n+0)
{
	color: #d9d9d9;
}

@media  (min-width: 320px) and (max-width: 768px)
{

	.hotel-cards-marseille img
	{
		width: 97%;
		object-fit: cover;
		object-position: center;
		padding: 5px 5px 0px 5px;
	}	
}

/* ---- Fin Section 1 "Hébergements à Marseille" ---- */

/* ---- Section 2 "Les plus populaires" ---- */

#main-populaires
{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	flex-wrap: wrap;
	background-color: #F2F2F2;
	border-radius: 20px;
}

@media  (min-width: 320px) and (max-width: 768px)
{
	#main-populaires
	{
		border-radius: inherit;
		flex-direction: inherit;
		padding-bottom: 32px;
	}
}

@media  (min-width: 768px) and (max-width: 933px)
{
	#main-populaires
	{
		position: sticky;
		top: 10px;
		height: 43%;
	}
}

@media  (min-width: 933px) and (max-width: 1118px)
{
	#main-populaires
	{
		position: sticky;
		top: 10px;
		height: 43%;
	}
}

.popular-title
{
	display: inline-flex;
	align-items: center;
	justify-content: space-around;
	width: 400px;
	margin-bottom: -20px;
	font-size: 1em;
}

@media  (min-width: 320px) and (max-width: 768px)
{
	.popular-title
	{
		width: 100%;
		justify-content: space-around;
		align-items: inherit;
		margin-bottom: inherit;
		padding-top: 15px;
	}

	.popular-title i
	{
		font-size: 1.5em;
	}
}

.popular-text-stars
{
	display: flex;
	flex-direction: column;
}

@media  (min-width: 375px) and (max-width: 424px)
{
	.popular-text-stars
	{
		padding-left: 17px;
	}
}

@media  (min-width: 425px) and (max-width: 768px)
{
	.popular-text-stars
	{
		padding-left: 40px;
	}
}

.popular-text p + p /* Noms hôtels + des prix */
{
	line-height: 2px;
}

.popular-text
{
	padding-left: 21px;
	border-radius: 0px 20px 20px 0px;
	background-color: white;
	font-size: 0.97em;
	line-height: 19px;
}

@media  (min-width: 320px) and (max-width: 768px)
{
	.popular-text
	{
		padding-left: 8px;
		
	}

	
}

@media  (min-width: 769px) and (max-width: 850px)
{
	.popular-text
	{
		padding-left: 2px;
	}
}

@media  (min-width: 851px) and (max-width: 1118px)
{
	.popular-text
	{
		padding-left: 20px;
	}
}

@media  (min-width: 1118px) and (max-width: 1171px)
{
	.popular-text
	{
		padding-left: 2px;
	}
}

@media  (min-width: 1171px) and (max-width: 1240px)
{
	.popular-text
	{
		padding-left: 6px;
	}
}



.popular-stars
{
	color: #0065FC;
	padding-top: 30px;
	padding-left: 21px;
	line-height: 11px;
	font-size: 12px;
}

@media  (min-width: 769px) and (max-width: 850px)
{
	.popular-stars
	{
		padding-left: 2px;
	}
}

@media  (min-width: 851px) and (max-width: 1118px)
{
	.popular-stars
	{
		padding-left: 20px;
	}
}

@media  (min-width: 1118px) and (max-width: 1171px)
{
	.popular-stars
	{
		padding-left: 2px;
	}
}

@media  (min-width: 1171px) and (max-width: 1240px)
{
	.popular-stars
	{
		padding-left: 6px;
	}
}

.hotel-cards-popular
{
	display: inline-flex;
	width: 89%;
	height: 144px;
	border-radius: 20px;
	background-color: white;
	box-shadow: -5px 5px 15px #d9d9d9;
}

.hotel-cards-popular img
{
	height: 134px;
	width: 127px;
	border-radius: 20px 0px 0px 20px;
	background-color: white;
	padding: 5px 5px 0px 5px;
}

@media  (min-width: 320px) and (max-width: 768px)
{
	.hotel-cards-popular
	{
		width: 94%;
		margin: 1%;
	}
}

/*Hôtel Le soleil du matin*/

.hotel-cards-popular .fas:nth-last-child(-n+0)
{
	color: #d9d9d9;
}

/*Au coeur de l'eau Chambres d'hôtes*/

.hotel-cards-popular img
{
	object-fit: cover;
}

.hotel-cards-popular .fas:nth-last-child(-n+1)
{
	color: #d9d9d9;
}

/* Hôtel Tout bleu et Blanc */
.bleu-blanc
{
	margin-bottom: 35px;	
}

.bleu-blanc img
{
	object-fit: cover;
	object-position: center;
}

.hotel-cards-popular .fas:nth-last-child(-n+1)
{
	color: #d9d9d9;
}

/* ---- Fin de Section 2 "Les plus populaires" ---- */

/* ---- Fin 2 Sections ---- */

/* ---- Aside Activités à Marseille ---- */
aside
{
	display: flex;
	flex-direction: column;
	margin-top: 70px;
	padding-left: 30px;
	margin-right: -27px;
}

aside h1
{
	font-size: 1.5em;
	padding-left: 32px;
}

@media  (min-width: 320px) and (max-width: 768px)
{
	aside
	{
		padding-left: inherit;
		margin-right: inherit;
		margin-top: 45px;
	}

	aside h1
	{
		padding-left: 18px;

	}
}

#marseille-activity
{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-left: 32px;
	padding-right: 88px;
}

@media  (min-width: 320px) and (max-width: 768px)
{
	#marseille-activity
	{
		flex-direction: column;
		height: 1500px;
		padding-left: inherit;
		padding-right: inherit;
	}
}

.fort-iles
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}


.dame-longchamp
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}


@media  (min-width: 320px) and (max-width: 768px)
{
	.dame-longchamp
	{
		display: flex;
		flex-direction: column;
		height: 207px;
		
	}

	.activity-dame
	{
		margin-top: -390px;
	}
}

@media  (min-width: 769px) and (max-width: 1331px)
{
	.dame-longchamp
	{
		flex-direction: inherit;
		width: 100%;
		justify-content: space-evenly;
		margin-top: 4%;
		margin-left: 2%;
	}
}

/* @media  (min-width: 769px) and (max-width: 1331px)
{
	.activity-dame
	{
		margin-top: 25%;
		margin-left: 77%;
	}
} */

.activity-port, .activity-parc, .activity-fort, .activity-iles, .activity-dame, .activity-longchamp
{
	display: flex;
	flex-direction: column;
	width: 302px;
	border-radius: 20px;
	background-color: white;
	box-shadow: -5px 5px 15px #d9d9d9; 
}

.activity-port img, .activity-parc img, .activity-fort img, .activity-iles img, .activity-dame img, .activity-longchamp img
{
	width: 302px;
	border-radius: 20px 20px 0px 0px;
	background-color: white;
}

.activity-text
{
	padding-left: 21px;
	width: 100%;
	border-radius: 0px 0px 20px 20px;
	background-color: white;
	font-size: 0.97em;
	line-height: 14px;
}

/*Vieux Port, Parc National des Calanques*/
.activity-port, .activity-parc
{
	height: 445px;	
}

@media  (min-width: 320px) and (max-width: 768px)
{
	.activity-parc
	{
		margin-top: -395px;
		margin-bottom: 7px;
	}
}

.activity-port img 
{
	height: 445px;
	object-fit: cover;
	object-position: -185px 0px;
}

.activity-parc img 
{
	height: 445px;
	object-fit: cover;
	object-position: -160px 0px;
}

@media  (min-width: 320px) and (max-width: 768px)
{
	.activity-port img, .activity-parc img
	{
		object-position: 0px 0px;
	}
}

/*Fort de Pomègues*/
.activity-fort
{
	height: 225px;
}

@media  (min-width: 320px) and (max-width: 768px)
{
	.activity-fort
	{
		margin-top: -385px;
		margin-bottom: 20px;
	}
}

.activity-fort img 
{
	height: 180px;
	object-fit: cover;
	object-position: 0px -114px;
}

@media  (min-width: 320px) and (max-width: 768px)
{
	.activity-fort img 
	{
		object-position: 0px -147px;
	}
}

/*Îles du Frioul*/
.activity-iles
{
	height: 158px;
}

@media  (min-width: 320px) and (max-width: 768px)
{
	.activity-iles
	{
		margin-bottom: 12px;
	}
}

.activity-iles img 
{
	height: 113px;
	object-fit: cover;
	object-position: 0px -15px;
}

/*Notre-Dame-de-la-Garde*/
.activity-dame
{
	height: 184px;
}

.activity-dame img 
{
	height: 139px;
	object-fit: cover;
	object-position: 0px 0px;
}

/*Parc Longchamp*/
.activity-longchamp
{
	height: 207px;
}

@media  (min-width: 320px) and (max-width: 768px)
{
	.activity-longchamp
	{
		padding-top: 0px;
		margin-bottom: 165px;
	}
}

/* @media  (min-width: 769px) and (max-width: 1331px)
{
	.activity-longchamp
	{
		height: 207px;
		margin-left: 225%; 
    	margin-top: -40%;
	}
} */

.activity-longchamp img 
{
	height: 163px;
	object-fit: cover;
	object-position: 0px 0px;
}

/* @media  (min-width: 769px) and (max-width: 1331px)
{
	.activity-longchamp img
	{
		height: 139px;
	}
} */

@media  (min-width: 320px) and (max-width: 768px)
{
	.activity-port, .activity-parc, .activity-fort, .activity-iles, .activity-dame, .activity-longchamp
	{
		width: 95%;
		height: 207px;
		display: flex;
		flex-direction: column;
		align-self: center;
		border-radius: 20px;
		background-color: white;
		box-shadow: -5px 5px 15px #d9d9d9;
	}

	.activity-port img, .activity-parc img, .activity-fort img, .activity-iles img, .activity-dame img, .activity-longchamp img
	{
		width: 100%;
		height: 153px;
	}
}

@media  (min-width: 769px) and (max-width: 1330px)
{
	.activity-port, .activity-parc, .activity-fort, .activity-iles, .activity-dame, .activity-longchamp
	{
		margin-bottom: 10px;
	}

	.activity-dame, .activity-longchamp
	{
		height: 207px;
	}

	.activity-dame img, .activity-longchamp img
	{
		height: 153px;
	}
}

@media  (min-width: 769px) and (max-width: ?px)
{
	
}


/* ---- Fin Aside Activités à Marseille ---- */

/* ---- Footer ---- */
.footer
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #F2F2F2;
	margin-top: 70px;
}

@media  (min-width: 320px) and (max-width: 768px)
{
	.footer
	{
		margin-top: -113px;
		width: 100%;
	}
}

.footer h2
{
	font-size: 1.1em;
}

.footer a
{
	display: inline-block;
	padding: 7px;
	padding-left: inherit;
}

.footer a:visited
{
	color: black;
}

@media  (min-width: 320px) and (max-width: 768px)
{
	.footer
	{
		flex-direction: column;
	}

	.footer a
	{
		margin-left: -20px;
	}
}

.about, .accommodation, .assistance
{
	display: flex;
	flex-direction: column;
	align-self: flex-start;
	padding-top: 4%;
	padding-bottom: 4%;
}

@media  (min-width: 320px) and (max-width: 768px)
{
	.about, .accommodation, .assistance
	{
		padding-left: 20px;
	}
}

.about
{
	margin-left: 4.5%;
}

@media  (min-width: 320px) and (max-width: 768px)
{
	.accommodation, .assistance
	{
		margin-left: 4.5%
	}
}

.assistance
{
	margin-right: 28%;
}
/* ---- Fin Footer ---- */